<section class="thirteen columns">

<article>
<strong>
    Qin is pursuing his PhD degree at Swinburne University of Technology, cooperated with  CSIRO Data61. 
    He is advised by <a href="http://nsclab.org/yang/"> Prof.Yang Xiang </a> and <a href="https://www.cse.unsw.edu.au/~z9195738/"> Dr.Shiping Chen </a>. 
    He received Master’s degree from in Beihang University (BUAA), advised by <a href="https://scholar.google.com/citations?user=z_kFFlkAAAAJ&hl=zh-CN"> Prof.Qianhong Wu </a>, 
    and bachelor’s degree from Northwestern Polytechnical Univerisity (NPU) (Full bio <a href=/tree/master/static/img/CV(short).pdf>here</a>).



<br>
<br> I’m broadly interested in blockchain techology. My research mainly covers applied cryptography and distributed computing systems. Currently, I’m focusing on the topics listed as follows. 
<br>
<br> - Blockchain scalability
<br> - Blockchcain security analysis
<br> - Privacy-preserving techniques
<br> - Cryptographic protocols based on blockchain
</strong>   
</article>
    
</section>


<section class="thirteen columns">

<article>
<strong>
    Qin is pursuing his PhD degree at Swinburne University of Technology, cooperated with  CSIRO Data61. 
    He is advised by <a href="http://nsclab.org/yang/"> Prof.Yang Xiang </a> and <a href="https://www.cse.unsw.edu.au/~z9195738/"> Dr.Shiping Chen </a>. 
    He received Master’s degree from in Beihang University (BUAA), advised by <a href="https://scholar.google.com/citations?user=z_kFFlkAAAAJ&hl=zh-CN"> Prof.Qianhong Wu </a>, 
    and bachelor’s degree from Northwestern Polytechnical Univerisity (NPU) (Full bio <a href=/tree/master/static/img/CV(short).pdf>here</a>).



<br>
<br> I’m broadly interested in blockchain techology. My research mainly covers applied cryptography and distributed computing systems. Currently, I’m focusing on the topics listed as follows. 
<br>
<br> - Blockchain scalability
<br> - Blockchcain security analysis
<br> - Privacy-preserving techniques
<br> - Cryptographic protocols based on blockchain
</strong>   
</article>
    
</section>



<object data="https://arxiv.org/pdf/2012.06128.pdf" type="application/pdf" width="95%" height="700px">
    <embed src="https://arxiv.org/pdf/2012.06128.pdf">
        <p>This browser does not support PDFs. Please download the PDF to view it: <a href="https://arxiv.org/pdf/2012.06128.pdf">Download PDF</a>.</p>
    </embed>
</object>

<object data="https://arxiv.org/pdf/2012.06128.pdf" type="application/pdf" width="100%" height="100%">
<p><b>返回内容</b>: 该浏览器不支持PDFs.请点击查看: 
<a href="https://arxiv.org/pdf/2012.06128.pdf">Download PDF</a>.</p>
</object>
