<section class="thirteen columns">

<article>
<strong>
    Qin is pursuing his PhD degree at Swinburne University of Technology, cooperated with  CSIRO Data61. 
    He is advised by <a href="http://nsclab.org/yang/" target="_blank"> Prof.Yang Xiang </a> and <a href="https://www.cse.unsw.edu.au/~z9195738/" target="_blank"> Dr.Shiping Chen</a>. 
    He received Master’s degree from in Beihang University (BUAA), advised by <a href="https://scholar.google.com/citations?user=z_kFFlkAAAAJ&hl=zh-CN" target="_blank"> Prof.Qianhong Wu </a>, 
    and bachelor’s degree from Northwestern Polytechnical Univerisity (NPU) (Full bio <a href="https://qinwang.tech/static/img/CV(short).pdf" target="_blank">here</a>).



<br>
<br> I’m broadly interested in blockchain technology. My research mainly covers the techniques from applied cryptography and distributed computing systems. Currently, I’m focusing on the topics listed below. 
<br>
<br> - Blockchain scalability
<br> - Blockchcain security analysis
<br> - Privacy-preserving techniques
<br> - Blockchain economics (DeFi/NFT/FinTech)
    
<br>     
<br> (Detials <a href="https://qinwang.tech/static/img/Research_Statement.pdf" target="_blank">here</a>)
</strong>   
</article>
    
</section>

<hr>



