<section class="thirteen columns">

<article>
<strong>
    Qin is pursuing his PhD degree at <a href="https://www.swinburne.edu.au/"> Swinburne University of Technology </a>, cooperated with  <a href="https://data61.csiro.au"> CSIRO Data61 </a>. 
    He is advised by <a href="http://nsclab.org/yang/"> Prof.Yang Xiang </a> and <a href="https://www.cse.unsw.edu.au/~z9195738/"> Dr.Shinping Chen </a>. 
    He received Master’s degree from in <a href="https://ev.buaa.edu.cn/"> Beihang University (BUAA) </a>, advised by <a href="https://scholar.google.com/citations?user=z_kFFlkAAAAJ&hl=zh-CN"> Prof.Qinhong Wu </a>, 
    and bachelor’s degree from <a href="https://en.nwpu.edu.cn/"> Northwestern Polytechnical Univerisity (NPU) </a> (Full bio <a href="https://qinwang.tech/"> here </a>).

<br>
<br>Research interests:
<br>
<br> - Blockchain scalability
<br> - Blockchcain security analysis
<br> - Privacy-preserving techniques
<br> - Cryptographic protocols based on blockchain
</strong>   
</article>
    
</section>
