<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MSc in Beihang University (BUAA)</h1> 
            <span> Major in <h1>Crypotography and cryptocurrencies</h1></span>
            <span>Supervisor, Qinhong Wu</span>
            <span><address>Beijing, China</address><time>2015 to 2018</time></span>
        </header>
        
    </article>
    <article>
        <header>
            <h1>BSc in Northwestern Polytechnical Univerisity (NPU)</h1>
             <span> Major in <h1>Electronical Engineering</h1></span>
            <span><address>Xi`an, China</address><time>2011 to 2015</time></span>
        </header>
    </article>
</section>
