
<section class="thirteen columns">
    <h1>Talks</h1>
    <article>
     <p>
     <br>Paper presentation, INFOCOM'21. May 2021. Online
     <br>Poster presentation, NDSS'21. Feb 2021. Online
     <br>Paper presentation, ACISP'20. Dec 2020. Online
     <br>Paper presentation, ISC'20. Dec 2020. Online
     <br>Poster presentation, SP'20. May 2020. Online
     <br>Paper presentation, FC'20. Feb 2020. Kota Kinabalu, Malaysia
     <br>Poster presentation, Middleware'19. Dec 2019. Online
     <br>Talks, NSClab. July 2019. Melbourne, Australia
     <br>Talks, CSIRO Data61. March 2019, Adelede, Australia
     </p>
    </article>
</section>


<section class="thirteen columns">
    <h1>Academic Services</h1>
    <article>
    <p><strong> Invited reviewer:  <a href="https://publons.com/researcher/3020700/qin-wang/peer-review/" target="_blank"> [Publons] </a></strong>   
    <br><a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=10206" target="_blank"> TIFS </a></strong> (2021), 
        <a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=8858" target="_blank"> TDSC </a></strong> (2021 ,2020, 2019), 
        <a href="https://peerj.com/computer-science/" target="_blank"> PeerJ </a></strong> (2021), 
        <a href="https://onlinelibrary.wiley.com/journal/21613915" target="_blank"> ETT </a></strong>  (2021), 
        <a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=4267003" target="_blank"> ISJ </a></strong> (2021), 
        <a href="https://www.journals.elsevier.com/blockchain-research-and-applications" target="_blank"> BCRA </a></strong> (2021), 
        <a href="" target="_blank"> IEEE Access </a></strong> (2020, 2019), 
        <a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=6488907" target="_blank"> IoTJ </a></strong>  (2020), 
        <a href="http://www.cloud-conf.net/bsci/2021/submission.html" target="_blank"> BSCI </a></strong>  (2020), 
        <a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=9424" target="_blank"> TII </a></strong> (2019)
    </p>

    <p><strong> External reviewer:</strong>     	
    <br><a href="https://icbc2021.ieee-icbc.org/" target="_blank"> ICBC </a></strong> (2021, 2020, 2019),
        <a href="https://www.surrey.ac.uk/esorics-2020" target="_blank"> ESORICS </a></strong> (2020), 
        <a href="https://dl.acm.org/journal/csur" target="_blank"> CSUR </a></strong> (2020, 2019), 
         <a href="https://scisec.org/scisec2019/index.html" target="_blank"> SciSec </a></strong> (2019)
    </p>
    </article>
</section>


<section class="thirteen columns">
    <h1>Selected Honours</h1>
    <article>
        <p>
        <br>National Scholarship, the Ministry of Education of China, 2017. (1% in China)
        <br>Academic Excellence Scholarship, BUAA, China. 2015-2017
        <br>Academic Excellence Scholarship, NPU, China. 2011-2015
        </p>
    </article>
</section>


