
<section class="thirteen columns">
    <h1>Talks</h1>
    <article>
     <p>
     <br>Paper presentation, INFOCOM'21. May 2021. Online
     <br>Poster presentation, NDSS'21. Feb 2021. Online
     <br>Paper presentation, ACISP'20. Dec 2020. Online
     <br>Paper presentation, ISC'20. Dec 2020. Online
     <br>Poster presentation, SP'20. May 2020. Online
     <br>Paper presentation, FC'20. Feb 2020. Kota Kinabalu, Malaysia
     <br>Poster presentation, Middleware'19. Dec 2019. Online
     <br>Talks, NSClab. July 2019. Melbourne, Australia
     <br>Talks, CSIRO Data61. March 2019, Adelede, Australia
     </p>
    </article>
</section>


<section class="thirteen columns">
    <h1>Academic Services</h1>
    <article>
    <p><strong> Invited reviewer:  <a href="https://publons.com/researcher/3020700/qin-wang/peer-review/"> [Publons] </a></strong>   
    <br>ETT (2021), IEEE Access (2020, 2019), TDSC (2020, 2019), TII (2019), IoTJ (2020), BSCI (2020)
    </p>

    <p><strong> External reviewer:</strong>     	
    <br>ESORICS (2020), ICBC (2021, 2020, 2019), ACM Computing Surveys (2020, 2019), SciSec (2019)
    </p>
    </article>
</section>


<section class="thirteen columns">
    <h1>Selected Honours</h1>
    <article>
        <p>
        <br>National Scholarship, the Ministry of Education of China, 2017
        <br>Academic Excellence Scholarship, BUAA, China. 2015-2017
        <br>Academic Excellence Scholarship, NPU, China. 2011-2015
        </p>
    </article>
</section>


